<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.gov.zunyi.video.mapper.MsSysLogMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="cn.gov.zunyi.video.model.MsSysLog">
		<id column="id" property="id" />
<!--
		//	登录账号
-->
		<result column="login_name" property="loginName" />
		<!--
                //内容
        -->
		<result column="content" property="content" />

		<!--  记录登录IP地址 -->
		<result column="ip" property="ip" />

		<!--  用户操作 -->
		<result column="operation" property="operation" />
		<!--创建时间-->
		<result column="create_time" property="createTime" />


	</resultMap>

</mapper>
